In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv

In [44]:
data = pd.read_csv('../input/titanic/train.csv')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Проверили сколько Nan в столбце Cabin (можно ли предсказывать выживаемость на основе этих данных)

In [24]:
sum(data['Cabin'].isnull())/data.shape[0]

0.7710437710437711

In [53]:
# всего в каждом классе
allPclass = data['Pclass'].value_counts()
allPclass

3    491
1    216
2    184
Name: Pclass, dtype: int64

Проверить гипотезу о зависимости выживаемости от класса проживания

In [50]:
#всего выжиших
surv = data['Survived'].value_counts()
surv

0    549
1    342
Name: Survived, dtype: int64

In [48]:
# выживших в каждом классе
u = data['Survived'] == 1
survData = data[u]['Pclass'].value_counts()
survData

1    136
3    119
2     87
Name: Pclass, dtype: int64

In [51]:
# процент выживших в каждом классе к общему числу выживших
survData/surv[1]

1    0.397661
3    0.347953
2    0.254386
Name: Pclass, dtype: float64

In [54]:
# процент выживших в каждом классе к числу людей в этом классе
survData/allPclass

1    0.629630
2    0.472826
3    0.242363
Name: Pclass, dtype: float64

In [ ]:
# процент выживших женщин и мужчин